<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" id="wrapper">
  <div class="row">
    <div class="col-sm-12">
      <h1>Byt lösenord</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Nuvarande lösenord</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>Nytt lösenord</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Lösenordet måste vara minst 3 tecken långt.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-warning" type="submit">Spara ändringar</button>
      </form>
    </div>
  </div>
</div>