<div ng-include="'components/navbar/navbar.html'"></div>

<div id="locMap-cont" class="col-md-6">
	<map center="{{map.center}}" zoom="{{map.zoom}}" on-click="addMarker()">
			<!-- <marker id="location" position="{{positions}}" animation="{{map.animation}}" draggable="{{map.draggable}}" icon="{{map.icon}}"></marker> -->
			{{marker}}
			<marker ng-repeat="marker in locations" position="{{marker.coords}}"></marker>
  	</map>
</div>
<h1>{{positions}}</h1>
<div class="col-md-6">
	<div class="form-group">
	  <input type="text" class="form-control" ng-model="Name" name="Name" value="" placeholder="Namn">

	  <button type="submit" class="btn btn-warning form-control" ng-click="addLoc()" name="button">Spara</button>
	</div>
</div>
<div class="col-md-6">
	<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Coords</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="location in locations">
					<td>{{ location.name }}</td>
					<td>{{ location.coords }}</td>
					<td><button type="button" class="close" ng-click="deleteLocation(location)">&times;</button></td>
				</tr>
			</tbody>
	</table>
</div>
