<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-6">
	<map ng-transclude center="current-location" zoom="1" class='google-map'>
		<marker position="{{marker.longitude}},{{marker.latitude}}" title="{{marker.name}}" ng-repeat="marker in locations"></marker>

	</map>
</div>

<div class="col-md-6">
	<div class="form-group">
	  <input type="text" class="form-control" ng-model="Name" name="name" value="" placeholder="Namn">
	  <input id="latitude" type="text" class="form-control" ng-model="Latitude" name="name" value="" placeholder="Latitude">
	  <input type="text" class="form-control" ng-model="Longitude" name="name" value="" placeholder="Longitude">
		<button type="button" name="button" ng-click="addValue()">add value</button>
		<button type="submit" class="btn btn-warning form-control" ng-click="addLoc()" name="button">Spara</button>
	</div>
</div>
<div class="col-md-6">
	<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Longitude</th>
					<th>Latitude</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="location in locations | orderBy: 'name' ">
					<td>{{ location.name }}</td>
					<td>{{ location.longitude }}</td>
					<td>{{ location.latitude }}</td>
					<td><button type="button" class="close" ng-click="deleteLocation(location)">&times;</button></td>
				</tr>
			</tbody>
	</table>
</div>
