<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-6">
	<map center="37.7699298, -122.4469157" zoom="2" on-click="addMarker()">
    <marker id="location" position="{{positions}}" animation="DROP" draggable="true"></marker>
    <marker ng-repeat="marker in locations" position="{{marker.coords}}"></marker>
  </map>
</div>
<h1>{{positions}}</h1>
<div class="col-md-6">
	<div class="form-group">
	  <input type="text" class="form-control" ng-model="Name" name="Name" value="" placeholder="Namn"><!-- 
	  <input type="hidden" class="form-control" ng-model="Latitude" name="Latitude" placeholder="Latitude">
	  <input type="hidden" class="form-control" ng-model="Longitude" name="Longitude" placeholder="Longitude"> -->
	  <button type="submit" class="btn btn-warning form-control" ng-click="addLoc()" name="button">Spara</button>
	</div>
</div>
<div class="col-md-6">
	<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Coords</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="location in locations">
					<td>{{ location.name }}</td>
					<td>{{ location.coords }}</td>
					<td><button type="button" class="close" ng-click="deleteLocation(location)">&times;</button></td>
				</tr>
			</tbody>
	</table>
</div>

<!-- <div class="col-md-12">
  <map center="37.7699298, -122.4469157" zoom="2" on-click="addMarker()">
    <marker ng-repeat="pos in positions" position="{{pos.lat}}, {{pos.lng}}"></marker>
    <marker ng-repeat="marker in locations" position="{{marker.longitude}},{{marker.latitude}}"></marker>
  </map>
</div> -->
