/** LÄGG TILL PLATS ***/

#addLocWrapper{
	z-index: 10000;
	background: rgba(25, 50, 1, 0.8);
	margin: 0px 0px 0px 14px;
}

#addButton{
	margin-top: 10px;
}

.header{
	color:#fff;
}

.checkBox,
.checkBox:focus,
.checkBox:active{
	padding: 0px 10px 0px 0px;
	cursor: pointer;
	outline: none;
}

.checkBox input{
	cursor: pointer;
}

.mapAddloc{
	position: absolute;
  	top: 70px;
  	left: 0;
  	height:calc(100% - 70px);
  	width: 100%;
 }

 @media screen and (max-width: 767px) {

 	#addButton{
		margin-top: 5px;
	}

	#addLocWrapper{
      margin: 0;
      padding-top: 10px;
      height: 280px;
    }

    .mapAddloc{
      position: absolute;
      top: 330px;
      height: calc(100vh - 380px);
    }
}

/** REDIGERA PLATSER **/

#editLocWrapper{
	z-index: 10000;
	background: rgba(25, 50, 1, 0.8);
	margin: 0px 0px 0px 14px;
}

label{
	color: #fff;
}

.editLoc{
	position: absolute;
  	top: 70px;
  	left: 0;
  	height:calc(100% - 70px);
  	width: 100%;
 }

@media screen and (max-width: 767px) {

	#editLocWrapper{
      margin: 0;
      padding-top: 10px;
      height: 320px;
    }

    .editLoc{
      position: absolute;
      top: 370px;
      height: calc(100vh - 420px);
    }

}

/*** MINA PLATSER ***/

body{
	background: url('../../assets/images/wallhaven-286005.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width: 100%;
}

#wrapper{
	color: #fff;
}

#header{
	padding-left: 10px;
}

.head{
	padding-bottom: 5px;
}

.glyphicon-tree-conifer{
	font-size: 15px;
}

.tags-location{
	padding: 5px 0px;
	text-align: center;
}

.result{
	margin: 10px 0px;
	background: rgba(25, 50, 1, 0.6);
	padding: 10px;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
}

.result:hover{
	background: rgba(25, 50, 1, 0.9);
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
}

#settings{
	text-align: right;
}

#remove{
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 0px;
}

#cog{
	font-size: 16px;
	color: #fff;
	padding-right: 5px;
}

.noloc{
	color: #fff;
	padding-left: 10px;
}

@media (max-width: 767px){

	body{
		background: url('../../assets/images/wallhaven-286005.jpg') no-repeat fixed;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
		width: 100%;
	}

	.result{
		margin: 10px 0px;
		background: rgba(25, 50, 1, 0.7);
		padding: 10px;
	}

	a:hover{
		text-decoration: none;
	}

	#cog{
		color: #fff;
		padding: 0px;
	}

	#remove{
	  font-size: 16px;
	  padding-top: 2px;
	}

	.tags-location img{
    	width: 30px;
    	padding: 0px 2px;
    }

}
