/** LÄGG TILL PLATS ***/

#addLocWrapper{
	z-index: 10000;
	background: #f8f8f8;
	margin: 0px 0px 0px 14px;
}

#addButton{
	margin-top: 10px;
}

.checkBox,
.checkBox:focus,
.checkBox:active{
	padding: 0px 10px 0px 0px;
	cursor: pointer;
	outline: none;
}

.checkBox input{
	cursor: pointer;
}

.mapAddloc{
	position: absolute;
  	top: 70px;
  	left: 0;
  	height:calc(100% - 70px);
  	width: 100%;
 }

 @media screen and (max-width: 767px) {

 	#addButton{
		margin-top: 5px;
	}

	#addLocWrapper{
      margin: 0;
      padding-top: 10px;
      height: 270px;
    }

    .mapAddloc{
      position: absolute;
      top: 320px;
      height: calc(100vh - 370px);
    }
}

/** REDIGERA PLATSER **/

#editLocWrapper{
	z-index: 10000;
	background: #f8f8f8;
	margin: 0px 0px 0px 14px;
}

.editLoc{
	position: absolute;
  	top: 70px;
  	left: 0;
  	height:calc(100% - 70px);
  	width: 100%;
 }

@media screen and (max-width: 767px) {

	#editLocWrapper{
      margin: 0;
      padding-top: 10px;
      height: 320px;
    }

    .editLoc{
      position: absolute;
      top: 370px;
      height: calc(100vh - 420px);
    }

}

/*** MINA PLATSER ***/

body{
	background: url('../../assets/images/wallhaven-286005.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width: 100%;
}

#wrapper{
	color: #fff;
}

.head{
	padding-bottom: 5px;
}

.glyphicon-tree-conifer{
	font-size: 15px;
}

.tags{
	padding: 5px 0px 5px 0px;
	text-align: center;
}

.result{
	margin: 10px 0px;
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
}

#remove{
  cursor: pointer;
  font-size: 26px;
  padding-bottom: 0px;
}

/*#edit{
  margin-top: 5px;
}*/

@media (max-width: 1024px){
	.headWrapper{
		display: inline-block;
		width: 100px;
		height: 100%;
	}

	.tags img{
    	width: 30px;
    	padding: 0px 2px;
    }

    .row{
    	text-align: center;
    }

    .row a,
    .row span{
    	padding: 5px 0px;
    }

}
