<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-4" id="editLocWrapper">
	<h1>Redigera: {{ locations.name }}</h1>
	<div class="form-group">
	  <form name="form" ng-submit="editLoc(form, locations)">
		  <label for="Name">Namn:</label>
		  <input type="text" class="form-control" ng-model="Name" name="Name" required>
		  <label for="Info">Info:</label>
		  <textarea class="form-control" ng-model="Info" name="Info" required></textarea>
		  <label ng-repeat="tagName in Tags" class="checkBox">
			  <input type="checkbox" name="selectedTags[]" value="{{tagName}}" ng-checked="tagselection.indexOf(tagName) > -1" ng-click="toggleSelection(tagName)"> <img src="../../assets/images/tags/{{tagName}}" width="30">
		  </label>
		  <button type="submit" class="btn btn-warning form-control" id="addButton" name="button">Spara</button>
	  </form>
	  <p class="help-block"> {{ message }} </p>
	</div>
</div>

<div id="map" class="editAddloc">
</div>
