<div ng-include="'components/navbar/navbar.html'"></div>
<div id="map" class="col-md-6">
</div>
<div class="col-md-6">
	<h1>Redigera platsen: {{ locations.name }}</h1>
	<div class="form-group">
	  <label for="Name">Namn:</label>
	  <input type="text" class="form-control" ng-model="Name" name="Name">
	  <label for="Info">Info:</label>
	  <textarea class="form-control" ng-model="Info" name="Info"></textarea>
	  <input type="hidden" class="form-control" id="latitude" placeholder="latitude">
	  <input type="hidden" class="form-control" id="longitude" placeholder="longitude">
	  <label ng-repeat="tagName in Tags" class="checkbox-inline">
		  <input type="checkbox" name="selectedTags[]" value="{{tagName}}" ng-checked="tagselection.indexOf(tagName) > -1" ng-click="toggleSelection(tagName)">{{tagName}}
	  </label>
	  <button type="submit" class="btn btn-warning form-control" ng-click="editLoc(locations)" name="button">Spara</button>
	</div>
</div>


