<div ng-include="'components/navbar/navbar.html'"></div>
<div id="map" class="col-md-6">
</div>
<div class="col-md-4">
	<h1>Redigera platsen: {{ locations.name }}</h1>
	<div class="form-group">
	  <form name="form" ng-submit="editLoc(form, locations)">
		  <label for="Name">Namn:</label>
		  <input type="text" class="form-control" ng-model="Name" name="Name" required>
		  <label for="Info">Info:</label>
		  <textarea class="form-control" ng-model="Info" name="Info" required></textarea>
		  <label ng-repeat="tagName in Tags" class="checkbox-inline">
			  <input type="checkbox" name="selectedTags[]" value="{{tagName}}" ng-checked="tagselection.indexOf(tagName) > -1" ng-click="toggleSelection(tagName)"><span class="{{tagName}}"></span>
		  </label>
		  <button type="submit" class="btn btn-warning form-control" name="button">Spara</button>
	  </form>
	  <p class="help-block"> {{ message }} </p>
	</div>
</div>
