<div ng-include="'components/navbar/navbar.html'"></div>


<!-- The Map Container -->
<div id="map">
</div>
<div id="mina-platser-input" class="col-xs-12" ng-repeat="location in locations | orderBy: 'date':true">
		<div class="header">
			<p class="h4">Namn: </p>
			<div class="item">{{ location.name }}</div>
		</div>

		<div class="header">
			<p class="h4">Tillagd: </p>
			<div class="item">{{ location.date | date:'medium'}}</div>
		</div>

		<div class="header">
			<p class="h4">Tags: </p>
			<div class="item" ng-repeat="tag in location.tags">
				<span class="{{tag}}"></span>
			</div>
		</div>

		<div class="header">
			<a href="/redigeraplats/{{location._id}}"><button class="btn btn-info">Redigera plats</button></a>
		</div>
		<div class="header">
			<button type="button" class="close" ng-click="deleteLocation(location)">&times;</button>
		</div>
	<p class="help-block"> {{ message }} </p>
</div>
