.navbar{
  margin-bottom: 10px;
  box-shadow: 0px 0px 15px;
}
.thing-form {
    margin: 20px 0;
}

#map-cont{
  position: absolute;
  top: 0;
  left: 0;
  height: 65vh;
  width: 100vw;

}
#front-map{
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 100vw;
  box-shadow: 0px 0px 15px;
}
.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
}

.navbar-text {
    margin-left: 15px;
}
