<div ng-include="'components/navbar/navbar.html'"></div>
<div id="infoBox" class="">
  <div id="infoBoxCont">
    <span id="close-infoBox" class="text-right"><span class="glyphicon glyphicon-remove"></span></span>
    <!-- <div class="container"> -->
       <h1>{{ name }}</h1>

       <p ng-bind-html="info | nl2br">{{ info }}</p>
       <span ng-repeat="tag in tags"><img class="tags" src='../../assets/images/tags/{{tag}}'></span>
     </div>
  </div>
</div>
  <div id="map" class="mainMap">
  </div>
  <div id="myLocationPin">
    <span class="glyphicon glyphicon-record" ng-click="myLocation()"></span>
  </div>
